.background {
    -fx-background-color: linear-gradient(to bottom, #b12c2c, #e73838, transparent);
}
.toggleButton , .buttons , .textFields{
    -fx-background-color: #333;
    -fx-text-fill: wheat;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-size: 25px;
}
.toggleButton:hover , .buttons:hover , .textFields:hover{
    -fx-background-color: #444;
}
.toggleButton:selected , .buttons:pressed{
    -fx-background-color: wheat;
    -fx-text-fill: #333;
    -fx-border-style: solid;
}

.mainMenuButton{
    -fx-background-color: #ff55a0;
}
.mainMenuRegion{
 -fx-background-color: #ff00f0;
 }
#gameLogSummaryTable{
-fx-background-color: #00ff00;
}
#gameTreeTable{
-fx-background-color: #00aa50;
}
#gameTable{
-fx-background-color: #0055a0;
}
#eventTreeTable{
-fx-background-color: #0000f0;
}
#friendTreeTable{
-fx-background-color: #ffff00;
}
#friendRequestTable{
-fx-background-color: #ffaa50;
}
#plateMessageTable{
-fx-background-color: #ff55a0;
}

#gameLogTreeTable{
-fx-background-color: #ff00f0;
}
#scoreboardTable{
-fx-background-color: #aaff00;
}

.country:hover{
    -fx-fill: linear-gradient(
            yellow,
            yellow 10px,
            red 10px
    );
}


